.custom-link-style:hover {
  color: #000;
  text-decoration: none;
}

.custom-link-style:active {
  color: #000;
  text-decoration: underline;
}

.custom-auth-text-style, .custom-auth-text-style a {
  color: #000;
}

.bg-dark {
  background-color: #fff !important;
  box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
}

.container {
  max-width: 100%;
}

fusio-account-container div fusio-account img.ms-4 {
  display: none;
}
