
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container">
    <a routerLink="/account" *ngIf="isAuthenticated" (click)="setActive('main')" class="navbar-brand"><img src="assets/bunzl-logo.png"></a>
    <p class="title">API information and access</p>
    <div class="verticalLine"></div>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link custom-link-style nav-link-auth-js" (click)="setActive('auth')" routerLink="/authorization">Authorization</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link custom-link-style nav-link-api-js" (click)="setActive('api')" routerLink="/api">REST API</a>
        </li>


      </ul>
      <span class="navbar-text me-2 custom-auth-text-style" *ngIf="isAuthenticated && account?.name">
        Logged in as <a routerLink="/account" (click)="setActive('account')">{{ account?.name }}</a>
      </span>
      <form class="d-flex">
        <a *ngIf="isAuthenticated" class="btn btn-primary ms-2"  (click)="setActive('account')" routerLink="/account">Account</a>
        <a *ngIf="isAuthenticated" class="btn btn-secondary ms-2" routerLink="/logout">Logout</a>
        <a *ngIf="!isAuthenticated" class="btn btn-primary ms-2" routerLink="/login">Login</a>
      </form>
    </div>
  </div>
</nav>
